// Buttons
$light-red: #F26565;
$green-buttons: #5FB300;

// Icons, menu item's text
$dark-gray: #3D3D3D;

// Nutritions diagram colors
$green-carbs: #5B8E7D;
$green-calories: #8CB369;
$red-protein: #BC4B51;
$orange-satu: #F4A259;
$yellow-fats: #F4E285;



// Le Wagon's variables, don't change!
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
