// Define variables for your color scheme


$light-red: #F26565;
$green: #5FB300;
$gray: #3D3D3D;
$light-gray: #DEDEDE;

// Nutritions diagram colors
$green-carbs: #5B8E7D;
$green-calories: #8CB369;
$yellow-fat: #F4E285;
$orange-satu: #F4A259;
$red-protein: #BC4B51;
