// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41

$background: white;
$green1: #BCDDA6;
$green2: #448000;
$green3: #5FB300;
$green4: #004D3D;
$green5: #1D201D;
