<div class="circle-and-number-container">
  <div class="circle">
    <div class="white-inner-circle"></div>
  </div>
  <p class="nutrition-data" data-live-update-nutritions-target="calories">0</p>
</div>
<div class="circle-and-number-container">
  <div class="circle">
    <div class="white-inner-circle"></div>
  </div>
  <p class="nutrition-data" data-live-update-nutritions-target="fats">0</p>
</div>
<div class="circle-and-number-container">
  <div class="circle">
    <div class="white-inner-circle"></div>
  </div>
  <p class="nutrition-data" data-live-update-nutritions-target="satuFats">0</p>
</div>
<div class="circle-and-number-container">
  <div class="circle">
    <div class="white-inner-circle"></div>
  </div>
  <p class="nutrition-data" data-live-update-nutritions-target="carbs">0</p>
</div>
<div class="circle-and-number-container">
  <div class="circle">
    <div class="white-inner-circle"></div>
  </div>
  <p class="nutrition-data" data-live-update-nutritions-target="protein">0</p>
</div>
