<a href="#" style="text-decoration: none;">
  <div class="standard-card">
    <div class="plan">
      <div class="plan-info">
        <h6><%= plan.name %></h6>
      </div>
      <%# Meal image %>
      <% if plan.photo.key.nil? %>
        <img src="https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg" alt="">
      <% else %>
        <%= cl_image_tag plan.photo.key.to_s %>
      <% end %>
    </div>
  </div>
</a>
