<h2>My plans</h2>
<div class="standard-card">
  <%= week_calendar(number_of_weeks: 2) do |date| %>
    <%= date %>
  <% end %>
</div>
<div class="d-flex mb-3">
  <%= link_to "Add new Daily meal", new_daily_plan_path, class: "button-standard" %>
</div>
<div class="flex-container">
  <% @daily_plans.each do |plan| %>
    <%= render "plan_card", plan: plan %>
  <% end %>
</div>
