<h2 class="text-center">My plans</h2>
<div data-controller="planning-calendar">
  <div class="standard-card">
    <%= render "pages/week_calendar_displayed", planning: @planning, weeks: 2 %>
  </div>
  <%# Planning form %>
  <div class="d-none" data-planning-calendar-target="form">
    <%= render "planning_form", planning: @planning %>
  </div>
</div>

<%# List all daily plans %>
<div class="flex-container">
  <% if @daily_plans.empty? %>
    <p>No daily meals yet!</p>
  <% else %>
    <% @daily_plans.each do |plan| %>
      <%= render "plan_card", plan: plan %>
    <% end %>
  <% end %>
</div>
<%= link_to new_daily_plan_path, class: "button-rounded-green sticky-button" do %>
  <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
<% end %>
