<div class="ingredient-card-button-holder" data-controller="swipe">
  <div class="ingredient-card standard-card d-flex align-items-center  p-3 my-3"
    data-action="touchstart->swipe#swipeCard touchend->swipe#stopSwipeCard"
    data-swipe-target="card">
    <div class="mx-2">
      <%= link_to edit_ingredient_path(ingredient) do %>
        <i class="fa-regular fa-pen-to-square"></i>
      <% end %>
    </div>
    <div class="flex-grow-1"><p class="mb-0"><%= link_to ingredient.name, edit_ingredient_path(ingredient) %></p></div>
  </div>
  <%= link_to(ingredient_path(ingredient), data: {turbo_method: :delete, swipe_target: 'button'}, class: 'button-rounded-red hidden button-position') do %>
    <i class="fa-regular fa-trash-can" style="color: #ffffff;"></i>
  <% end %>
</div>
