<h1>Your intake of today:</h1>

<%# Intakes %>
<div class="standard-card">
  Intakes
</div>

<%# Next Meal %>
<div class="standard-card">
  Meal
</div>

<%# Calendar %>
<div class="standard-card">
  Calendar
</div>

<%# Weight history %>
<div class="standard-card">
  Weight History
  <% raise %>
</div>
