<h2 class="text-center">Grocerie List</h2>

<% if @groceries.empty? %>
  <p>No groceries listed yet! Start adding your <%= link_to "meals at planning", daily_plans_path, style: "color: #5FB300;" %> or click <i class="fa-solid fa-rotate-right"></i> to refresh your grocerie list!</p>
<% else %>
  <p class="mb-0">Grocerie list for the next week</p>
  <p><em>(refresh to create the list again)</em></p>
  <% @groceries.each do |grocery| %>
    <div class="ingredient-card standard-card d-flex align-items-center p-3 my-3">
      <div class="flex-grow-1">
        <h2 class="mb-0"><%= grocery.ingredient.name %>, Qty: <%= grocery.quantity %>g</h2>
      </div>
      <%= link_to(grocery_path(grocery), data: {turbo_method: :delete}) do %>
        <i class="fa-solid fa-check"></i>
      <% end %>
    </div>
  <% end %>
<% end %>
