<h2 class="text-center">Grocerie List</h2>

<div class="ingredient-card-button-holder">
  <% if @grocerie_list.empty? %>
    <p>No meals planned.<br>Start <%= link_to("planning you meals", daily_plans_path, style: 'color: #5FB300;') %>!</p>
  <% else %>
    <% @grocerie_list.each do |ingredient| %>
      <div class="ingredient-card standard-card d-flex align-items-center p-3 my-3"
        data-controller="check-item"
        data-check-item-target="item">
        <div class="flex-grow-1">
          <h2 class="mb-0"><%= ingredient[0] %>, Qty: <%= ingredient[1] %></h2>
        </div>
        <div class="mx-2">
          <form action="" method="post" target="_blank" data-action="click->check-item#check">
            <input type="checkbox" name="cb-autos" data-check-item-target="checkbox">
          </form>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
