<div class="card-meal">
  <img src="https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg" alt="">
  <div class="meal-info">
    <h4><%= meal.name %></h4>
    <p><%= meal.comment %></p>
  </div>
  <div class="meal-nutritionfacts">
    <p>10</p>
    <p>10</p>
    <p>10</p>
    <p>10</p>
    <p>10</p>
  </div>
  <%= link_to "Edit", "#", class: "edit-button" %>
</div>
