<div class="meal-cards-container">
  <% @meals.each do |meal| %>
    <%= render "meal_card", meal: meal %>
  <% end %>
</div>


<%# keep until render works with seed file %>
<%# <div class="card-meal">
  <img src="https://www.gutekueche.at/storage/media/recipe/134629/spaghetti-al-pomodoro.jpg" alt="">
  <div class="meal-info">
    <h4>meal</h4>
    <p>Please add your comment here. It will be usefull for you later one. And of course pls smile.</p>
  </div>
  <div class="meal-nutritionfacts">
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data">9999</p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data">999</p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data">999</p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data">999</p>
    </div>
    <div class="circle-and-number-container">
      <div class="circle">
        <div class="white-inner-circle"></div>
      </div>
      <p class="nutrition-data">999</p>
    </div>
  </div>
  <%= link_to "Edit", "#", class: "edit-button"
</div> %>
