@media (min-width: 768px) {
  body{
    padding-left: 170px;
  }
}

body {
  h2 {
    margin-top: 4px;
    margin-bottom: 20px;
  }
  a{
    text-decoration: none;
  }
  #logo-size {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -10px;
    left: -1px;
  }
}
