.button-rounded-red {
  border: 0;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #F26565;
  text-align: center;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-rounded-green {
  border: 0;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  background-color: #5FB300;
  text-align: center;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-standard {
  border: 0;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #5FB300;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.button-small-green {
  border: 0;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #5FB300;
  color: white;
}

.button-small-red {
  border: 0;
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: #F26565;
  color: white;
}

.button-delete{
  border: 0;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #F26565;
  color: white;
}
.button-add{
  border: 0;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #5FB300;
  color: white;
}
