.simple-calendar {
  // .day {}

  .wday-0 {
    max-width: 50px;
    text-align: center;
  }
  .wday-1 {
    max-width: 50px;
    text-align: center;
  }
  .wday-2 {
    max-width: 50px;
    text-align: center;
  }
  .wday-3 {
    max-width: 50px;
    text-align: center;
  }
  .wday-4 {
    max-width: 50px;
    text-align: center;
  }
  .wday-5 {
    max-width: 50px;
    text-align: center;
  }
  .wday-6 {
    max-width: 50px;
    text-align: center;
  }

  .today {
    background-color: #5FB300;
    color: white;
  }
  // .past {}
  // .future {}

  // .start-date {}

  // .prev-month {}
  // .next-month { }
  // .current-month {}

  // .has-events {}
}

.d-flex {
  justify-content: space-between;
  flex-wrap: nowrap;
}

.calendar-heading {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 8px;
  margin-bottom: 8px;

  span{
    margin-top: 6px;
    margin-bottom: 2px;
  }

}
.table {
  tr {
    width: 50px;
    font-size: small;
  }
}
