.standard-card {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  position: relative;
}

.plan {
  display: flex;
  text-align: center;
  justify-content: space-between;

  img {
    height: 100px;
    width: 100px;
    object-fit: cover;
  }

  .button-standard {
    max-width: 61px;
    margin-bottom: 8px;
  }

  .plan-info {
    align-self: center;
    text-align: left;
    max-width: 310px;
    max-height: 100px;
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
  }

  img {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }

  h6 {
    margin-left: 16px;
    margin-right: 16px;
  }
}
// .plan-button-position {
//   position: absolute;
//   transform: translate(-50%, -50%);
//   top: 91px;
//   left: 264px;
// }

.daily-plan-card{
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin-bottom: 16px;
  position: relative;
  padding-left: 30px;

  .info{
    margin-block: 20px;
  }

  h4{
    margin-bottom: 16px;
  }

  p{
    margin-block: 0px;
  }

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }

}
