.ingredient-card {
  h2 {
    font-size: 1rem;
  }

  a {
    color: $dark-gray;
  }

  .ingredient-name {
    width: 230px
  }
}

.selected {
  box-shadow: 0 0 15px $green-buttons;
}

small {
  font-size: 0.8rem;
}
