.ingredient-card {

  transition-duration: 0.7s;

  h2 {
    font-size: 1rem;
  }

  a {
    color: $dark-gray;
  }
}

.ingredient-card-button-holder{
  position: relative;

  .deletingCard {
    margin-left: -40%;
  }

  .button-position{
    position: absolute;
    top: 20%;
    right: 8%;
  }

  .hidden {
    display: none;
  }
}
