.ingredient-card {

  transition-duration: 0.7s;

  h2 {
    font-size: 1rem;
  }

  a {
    color: $dark-gray;
  }

  .ingredient-name {
    width: 230px
  }
}

.selected {
  box-shadow: 0 0 15px $green-buttons;
}

small {
  font-size: 0.8rem;
}

.ingredient-card-button-holder{
  position: relative;

  .deletingCard {
    margin-left: -40%;
  }

  .button-position{
    position: absolute;
    top: 15%;
    right: 12%;
  }

  .hidden {
    display: none;
  }
}

.fa-trash {
  color: $dark-gray;
}

.hide-from-ingredient-list {
  display: none !important;
}
