.standard-input {
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border: 1px solid $dark-gray;
}

.search-form {
  gap: 5px;
}

.input-small {
  width: 140px;
}

.standard-input:focus {
  border-color: $green-buttons;
  // the rgba color is the green-buttons color with 0.6 opacity
  box-shadow: 0 1px 1px rgba(95, 179, 0, 0.075) inset, 0 0 8px rgba(95, 179, 0, 0.6);
  outline: 0 none;
}

.standard-textarea:focus {
  border-color: $green-buttons;
  // the rgba color is the green-buttons color with 0.6 opacity
  box-shadow: 0 1px 1px rgba(95, 179, 0, 0.075) inset, 0 0 8px rgba(95, 179, 0, 0.6);
  outline: 0 none;
}
