.card-meal {

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .meal-nutritionfacts{
    margin: 0 11%;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .meal-info {
    padding: 16px;

    p {
      margin-top: 16px;
    }
  }

  .edit-button {
    position: absolute;
    top: 54%;
    right: 6%;
  }

  .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;

    .white-inner-circle{
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
