.user-info {
  padding: 8px;
}

.button-flex-seperator {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 16px;
}

.user-cancel-styling {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
  padding: 8px;
  margin-top: 25px;
}

.form-inputs{
  select, input {
    border-radius: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.user_birthday {
  .d-flex {
    flex-direction: column;
  }
}
