.user-info {
  padding: 8px;
}

.button-flex-seperator {
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-bottom: 16px;
}

.user-cancel-styling {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  text-align: center;
  padding: 8px;
  margin-top: 25px;
}

.form-check {
  label{
    color: black;
  }
}

.form-inputs{
  select, input {
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
}

.user_birthday {
  .d-flex {
    flex-direction: column;
  }
}
